fastapi==0.111.1
pydantic_settings==2.3.4
python-dotenv==1.0.1
mypy==1.9.0
sqlalchemy==2.0.31
pylint==3.2.5
pydocstyle==6.3.0
psycopg2-binary==2.9.9
aiofiles==24.1.0
types-aiofiles==24.1.0.20240626
types-beautifulsoup4==4.12.0.20240511
types-html5lib==1.1.11.20240228
playwright==1.45.1
beautifulsoup4==4.12.3
pytest==8.3.2
pytest-cov==5.0.0
pytest-asyncio==0.23.8