body {
  height: -webkit-fill-available;
  background: #53465a;
  font-family: Arial, sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.main-header-block {
  background-color: #3e2c5f;
  border-bottom: 1px solid #362f42;
  box-shadow: 0px 2px 10px 0px #180137;
  color: white;
  text-align: center;
  align-content: center;
  height: 100px;
  margin: 10px 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-text {
  color: #ccc0e4;
  margin: 5px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 3;
  color: #ffffff; /* Text color */
  background-color: #291e33; /* Background color */
  border: none; /* Remove default border */
  padding: 10px 15px; /* Adjust padding */
  border-radius: 5px; /* Optional: rounded corners */
}

.logout-button:hover {
  background-color: #09020b !important;
}

.logout-button:active {
  background-color: #6f2e80 !important;
}

@media (max-width: 518px) {
  .logout-button {
    display: none;
  }
}

